html, body {
    height: 100%;
}

body{
    overscroll-behavior: none;
}

.su-container {
	max-width: 720px;
	width: 90%;
	border-radius: 12px;
}

@media (max-width: 768px){
	.view-container .su-container{
		box-shadow: none !important;
	}
}

.errors li {
	margin-bottom: 0.3rem;
}

.brand-primary-color {
	color: #1A3559;
}